# Input-Daten (falls CSVs versioniert werden sollen, Kommentar entfernen, ansonsten aktivieren)
# input/

# Output-Verzeichnis
#   PandasReport
output/*.html 


# Python-Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VSCode-Einstellungen
.vscode/

# Logfiles und Debugging-Dateien
logs/
*.log

# Umgebungsvariablen
.env
